* {
    text-decoration: none;
}
.lexend-header {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
    margin: 0;
}
.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authContainer {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
}